


section{
    width: max-content;
    height: max-content;
    margin: auto;
    padding:15px 15px 10px;
    background-color: rgb(137, 137, 255);
    align-items: center;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    margin-top: 75px;
}
#logueo{
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    width: max-content;
    align-items: left;
}
#contenedor{

    display: flex;
    height: auto;
    width: auto;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
    margin: 20px 20px;
}
#hacerAcciones{
   padding: 20px;
   background-color: blueviolet;
   border-radius: 20px;
   width: 250px;
   display: flex;
   flex-direction: column;
   justify-content: end;
   justify-items: center;
   margin-bottom: 20px;
   margin-left: 30px;
    
}
#EscribirMovimientos{
    min-width: 200px;
    width: 700px;
    height: auto;
    border-radius: 20px;
    background-color: rgb(25, 21, 255);
    margin-left: 30px;
    padding: 20px;
    

}
#EscribirSaldo{
    display: flex;
    justify-content: center;
    background-color: rgb(158, 158, 250);
    width: 150px;
    height: 50px;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
}
#escribirToken{
    display: flex;
    justify-content: center;
    background-color: rgb(158, 158, 250);
    width: 150px;
    height: 50px;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
}
p{
    color:white
}
button{
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#botones{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: aqua;
    width: 850px;
    border-radius: 20px;
    margin: 20px 20px;
}



